@import "tailwindcss";
<<<<<<< HEAD
<<<<<<< HEAD
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* TODO: split into channels so we can use the Tailwind opacity modifier. */
  /* e.g. --carbon-900: 52, 63, 69; */
  /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */

  --carbon-50: #f3f7f8;
  --carbon-100: #e1eaec;
  --carbon-200: #c7d7da;
  --carbon-300: #9fbac1;
  --carbon-400: #71969f;
  --carbon-500: #567b84;
  --carbon-600: #4a6670;
  --carbon-700: #40555e;
  --carbon-800: #3a4950;
  --carbon-900: #343f45;
  --carbon-default: #20292e;
  --stone-50: #f7f7f7;
  --stone-default: #e6e7e8;
  --stone-200: #dddee0;
  --stone-300: #c6c8ca;
  --stone-400: #aaadb0;
  --stone-500: #94999d;
  --stone-600: #84878c;
  --stone-700: #767a7f;
  --stone-800: #63666a;
  --stone-900: #525356;
  --stone-950: #343537;
  --blue-50: #f2f7fc;
  --blue-100: #e1eef8;
  --blue-200: #cbe0f2;
  --blue-300: #a7cde9;
  --blue-default: #76afdc;
  --blue-500: #5d97d4;
  --blue-600: #497fc7;
  --blue-700: #3f6bb6;
  --blue-800: #395894;
  --blue-900: #324c76;
  --blue-950: #222f49;
  --slate-50: #f2f7f9;
  --slate-100: #dee9ef;
  --slate-200: #c2d6df;
  --slate-300: #97b8c9;
  --slate-400: #6593ab;
  --slate-500: #4a7790;
  --slate-600: #40637a;
  --slate-default: #3c576b;
  --slate-800: #354755;
  --slate-900: #2f3c4a;
  --slate-950: #1c2630;
  --teal-50: #f1f9fa;
  --teal-100: #dceef1;
  --teal-200: #bddfe4;
  --teal-300: #90c7d0;
  --teal-400: #5ba6b5;
  --teal-default: #479bad;
  --teal-600: #377283;
  --teal-700: #325d6c;
  --teal-800: #304f5a;
  --teal-900: #2b434e;
  --teal-950: #192b33;
  --highlight-blue-50: #eaffff;
  --highlight-blue-100: #cbfdff;
  --highlight-blue-200: #9ef9ff;
  --highlight-blue-300: #5bf1ff;
  --highlight-blue-400: #00ddff;
  --highlight-blue-500: #00c2e5;
  --highlight-blue-600: #009ac0;
  --highlight-blue-700: #037a9b;
  --highlight-blue-800: #0d627d;
  --highlight-blue-900: #105169;
  --highlight-blue-950: #033549;
  --highlight-teal-50: #edfffc;
  --highlight-teal-100: #c0fff7;
  --highlight-teal-200: #81fff0;
  --highlight-teal-300: #3affe9;
  --highlight-teal-default: #00f6d2;
  --highlight-teal-500: #00e2c2;
  --highlight-teal-600: #00b7a1;
  --highlight-teal-700: #009181;
  --highlight-teal-800: #007268;
  --highlight-teal-900: #045d55;
  --highlight-teal-950: #003a38;
  --indigo-50: #f6f4fe;
  --indigo-100: #eeebfc;
  --indigo-200: #dfd9fb;
  --indigo-300: #c8baf8;
  --indigo-default: #b39cf3;
  --indigo-500: #9167eb;
  --indigo-600: #8147e0;
  --indigo-700: #7235cc;
  --indigo-800: #5f2cab;
  --indigo-900: #4f268c;
  --indigo-950: #31165f;
  --vista-50: #f0f5fd;
  --vista-100: #e4edfb;
  --vista-200: #ceddf7;
  --vista-300: #b0c6f1;
  --vista-400: #90a7e9;
  --vista-default: #6c82dd;
  --vista-600: #5a68d1;
  --vista-700: #4a54b8;
  --vista-800: #3f4994;
  --vista-900: #384077;
  --vista-950: #212545;
  --tail-50: #fcf4f4;
  --tail-100: #fae7e6;
  --tail-200: #f6d4d2;
  --tail-300: #efb5b2;
  --tail-default: #df7670;
  --tail-500: #d5645e;
  --tail-600: #c14841;
  --tail-700: #a13a34;
  --tail-800: #86332e;
  --tail-900: #70302c;
  --tail-950: #3c1513;
  --signal-50: #fcf7f0;
  --signal-100: #f9ebdb;
  --signal-200: #f2d5b6;
  --signal-default: #e6ac74;
  --signal-400: #e09257;
  --signal-500: #d97636;
  --signal-600: #ca5f2c;
  --signal-700: #a84926;
  --signal-800: #873c25;
  --signal-900: #6d3321;
  --signal-950: #3a1810;
  --beam-50: #fefbec;
  --beam-100: #fbf3ca;
  --beam-default: #f6e385;
  --beam-300: #f3d356;
  --beam-400: #efc030;
  --beam-500: #e8a218;
  --beam-600: #ce7c11;
  --beam-700: #ab5912;
  --beam-800: #8b4615;
  --beam-900: #723a15;
  --beam-950: #411d07;
  --base-black: #000000;
  --base-white: #ffffff;
  --base-transparent: #ffffff;
  --success-50: #effaf3;
  --success-100: #d9f2e0;
  --success-default: #b6e4c7;
  --success-300: #86cfa5;
  --success-400: #48a371;
  --success-500: #329763;
  --success-600: #22794e;
  --success-700: #1b6140;
  --success-800: #184d34;
  --success-900: #14402c;
  --success-950: #0a2419;

  /* Light mode semantic variables */
  --bg-black: 0 0 0;
  --app-1: var(--teal-default);
  --app-2: var(--tail-default);
  --app-3: var(--indigo-default);
  --app-4: var(--vista-default);
  --app-5: var(--signal-default);
  --bg-brand-primary-hover: var(--teal-700);
  --bg-brand-primary: var(--teal-600);
  --bg-brand-secondary-hover: var(--teal-300);
  --bg-brand-secondary: var(--teal-200);
  --bg-destructive-primary: var(--tail-600);
  --bg-destructive-soft-hover: var(--tail-100);
  --bg-destructive-soft: var(--tail-100);
  --bg-highlight-primary: var(--teal-600);
  --bg-neutral-emphasis: var(--carbon-300);
  --bg-neutral-hover: var(--carbon-200);
  --bg-neutral: var(--carbon-100);
  --bg-neutral-secondary: var(--carbon-default);
  --bg-success-primary: var(--success-600);
  --bg-success-secondary: var(--success-100);
  --bg-warning-primary: var(--signal-500);
  --bg-white-primary: var(--base-white);
  --bg-white-secondary: var(--carbon-50);
  --border-white-primary: var(--base-white);
  --border-destructive-primary: var(--tail-600);
  --border-highlight-primary: var(--teal-600);
  --border-neutral-empasis: var(--carbon-400);
  --border-neutral-primary-hover: var(--carbon-300);
  --border-neutral-primary: var(--carbon-200);
  --border-neutral-secondary: var(--carbon-default);
  --border-success-primary: var(--success-500);
  --border-warning-primary: var(--signal-500);
  --chart-primary-1: var(--teal-950);
  --chart-primary-2: var(--teal-900);
  --chart-primary-3: var(--teal-800);
  --chart-primary-4: var(--teal-700);
  --chart-primary-5: var(--teal-600);
  --chart-primary-6: var(--teal-default);
  --chart-primary-7: var(--teal-400);
  --chart-primary-8: var(--teal-300);
  --chart-primary-9: var(--teal-200);
  --chart-primary-10: var(--teal-100);
  --chart-primary-11: var(--teal-50);
  --text-destructive-primary: var(--tail-600);
  --text-highlight-primary: var(--teal-600);
  --text-link-hover: var(--teal-700);
  --text-link: var(--teal-600);
  --text-neutral-primary: var(--carbon-default);
  --text-neutral-secondary: var(--carbon-700);
  --text-on-brand-primary: var(--base-white);
  --text-on-brand-secondary: var(--carbon-default);
  --text-on-destructive-primary: var(--base-white);
  --text-on-highlight-primary: var(--base-white);
  --text-on-image: var(--base-white);
  --text-on-neutral-primary: var(--carbon-default);
  --text-on-success-primary: var(--base-white);
  --text-on-warning-primary: var(--carbon-default);
  --text-success-primary: var(--success-600);
  --text-warning-primary: var(--signal-700);
  --fill-neutral-secondary: var(--base-white);
}

.dark {
  --app-1: var(--teal-default);
  --app-2: var(--tail-500);
  --app-3: var(--indigo-500);
  --app-4: var(--vista-default);
  --app-5: var(--signal-500);
  --bg-brand-primary-hover: var(--teal-700);
  --bg-brand-primary: var(--teal-600);
  --bg-brand-secondary-hover: var(--teal-default);
  --bg-brand-secondary: var(--teal-700);
  --bg-destructive-primary: var(--tail-600);
  --bg-destructive-soft-hover: var(--tail-950);
  --bg-destructive-soft: var(--tail-950);
  --bg-highlight-primary: var(--teal-600);
  --bg-neutral-empahsis: var(--carbon-400);
  --bg-neutral-hover: var(--carbon-700);
  --bg-neutral: var(--carbon-600);
  --bg-neutral-secondary: var(--base-white);
  --bg-success-primary: var(--success-600);
  --bg-success-secondary: var(--success-700);
  --bg-warning-primary: var(--signal-500);
  --bg-white-primary: var(--carbon-default);
  --bg-white-secondary: var(--carbon-800);
  --border-white-primary: var(--carbon-default);
  --border-destructive-primary: var(--tail-default);
  --border-highlight-primary: var(--teal-600);
  --border-neutral-empasis: var(--carbon-300);
  --border-neutral-primary-hover: var(--carbon-400);
  --border-neutral-primary: var(--carbon-500);
  --border-neutral-secondary: var(--base-white);
  --border-success-primary: var(--success-400);
  --border-warning-primary: var(--signal-default);
  --chart-primary-1: var(--teal-50);
  --chart-primary-2: var(--teal-100);
  --chart-primary-3: var(--teal-200);
  --chart-primary-4: var(--teal-300);
  --chart-primary-5: var(--teal-400);
  --chart-primary-6: var(--teal-default);
  --chart-primary-7: var(--teal-600);
  --chart-primary-8: var(--teal-700);
  --chart-primary-9: var(--teal-800);
  --chart-primary-10: var(--teal-900);
  --chart-primary-11: var(--teal-950);
  --text-destructive-primary: var(--tail-default);
  --text-highlight-primary: var(--teal-default);
  --text-link-hover: var(--teal-200);
  --text-link: var(--teal-400);
  --text-neutral-primary: var(--base-white);
  --text-neutral-secondary: var(--carbon-200);
  --text-on-brand-primary: var(--base-white);
  --text-on-brand-secondary: var(--carbon-50);
  --text-on-destructive-primary: var(--base-white);
  --text-on-highlight-primary: var(--base-white);
  --text-on-image: var(--base-white);
  --text-on-neutral-primary: var(--carbon-100);
  --text-on-success-primary: var(--base-white);
  --text-on-warning-primary: var(--carbon-default);
  --text-success-primary: var(--success-300);
  --text-warning-primary: var(--signal-default);
  --fill-neutral-secondary: var(--carbon-default);
}

@theme inline {
  --font-*: initial;

  --color-*: initial;

  --background-color-transparent: transparent;
  --background-color-brand-primary-hover: var(--bg-brand-primary-hover);
  --background-color-brand-primary: var(--bg-brand-primary);
  --background-color-brand-secondary: var(--bg-brand-secondary);
  --background-color-destructive-primary: var(--bg-destructive-primary);
  --background-color-destructive-soft-hover: var(--bg-destructive-soft-hover);
  --background-color-highlight-primary: var(--bg-highlight-primary);
  --background-color-neutral-hover: var(--bg-neutral-hover);
  --background-color-neutral-primary: var(--border-neutral-primary);
  --background-color-neutral-secondary: var(--bg-neutral-secondary);
  --background-color-neutral-emphasis: var(--bg-neutral-emphasis);
  --background-color-success-primary: var(--bg-success-primary);
  --background-color-success-secondary: var(--bg-success-secondary);
  --background-color-warning-primary: var(--bg-warning-primary);
  --background-color-white-primary: var(--bg-white-primary);
  --background-color-white-secondary: var(--bg-white-secondary);
  --background-color-neutral: var(--bg-neutral);
  --background-color-black: rgb(var(--bg-black));
  --background-color-app-1: var(--app-1);
  --background-color-app-2: var(--app-2);
  --background-color-app-3: var(--app-3);
  --background-color-app-4: var(--app-4);
  --background-color-app-5: var(--app-5);
  --background-color-chart-primary-1: var(--chart-primary-1);
  --background-color-chart-primary-2: var(--chart-primary-2);
  --background-color-chart-primary-3: var(--chart-primary-3);
  --background-color-chart-primary-4: var(--chart-primary-4);
  --background-color-chart-primary-5: var(--chart-primary-5);
  --background-color-chart-primary-6: var(--chart-primary-6);
  --background-color-chart-primary-7: var(--chart-primary-7);
  --background-color-chart-primary-8: var(--chart-primary-8);
  --background-color-chart-primary-9: var(--chart-primary-9);
  --background-color-chart-primary-10: var(--chart-primary-10);
  --background-color-chart-primary-11: var(--chart-primary-11);

  --border-color-transparent: transparent;
  --border-color-destructive-primary: var(--border-destructive-primary);
  --border-color-highlight-primary: var(--border-highlight-primary);
  --border-color-white-primary: var(--border-white-primary);
  --border-color-neutral-primary: var(--border-neutral-primary);
  --border-color-neutral-secondary: var(--border-neutral-secondary);
  --border-color-success-primary: var(--border-success-primary);
  --border-color-warning-primary: var(--border-warning-primary);
  --border-color-on-image: var(--text-on-image);

  --text-color-destructive-primary: var(--text-destructive-primary);
  --text-color-highlight-primary: var(--text-highlight-primary);
  --text-color-neutral-primary: var(--text-neutral-primary);
  --text-color-neutral-secondary: var(--text-neutral-secondary);
  --text-color-on-brand-primary: var(--text-on-brand-primary);
  --text-color-on-brand-secondary: var(--text-on-brand-secondary);
  --text-color-on-destructive-primary: var(--text-on-destructive-primary);
  --text-color-on-highlight-primary: var(--text-on-highlight-primary);
  --text-color-on-image: var(--text-on-image);
  --text-color-on-neutral-primary: var(--text-on-neutral-primary);
  --text-color-on-success-primary: var(--text-on-success-primary);
  --text-color-on-warning-primary: var(--text-on-warning-primary);
  --text-color-success-primary: var(--text-success-primary);
  --text-color-warning-primary: var(--text-warning-primary);
  --text-color-link: var(--text-link);
  --text-color-link-hover: var(--text-link-hover);
  --text-color-brand-primary: var(--bg-brand-primary);

  --ring-color-brand-primary: var(--bg-brand-primary);
  --ring-color-destructive-primary: var(--bg-destructive-primary);

  --ring-offset-color-white-primary: var(--bg-white-primary);
  --ring-offset-color-highlight-primary: var(--bg-highlight-primary);
  --ring-offset-color-destructive-primary: var(--bg-destructive-primary);
  --ring-offset-color-warning-primary: var(--bg-warning-primary);
  --ring-offset-color-success-primary: var(--bg-success-primary);
  --ring-offset-color-success-secondary: var(--bg-success-secondary);

  --stroke-border: var(--border-neutral-primary);
  --stroke-transparent: transparent;

  --fill-muted: var(--bg-neutral);
  --fill-muted-foreground: var(--text-neutral-secondary);
  --fill-card: var(--bg-white-primary);
  --fill-success-primary: var(--bg-success-primary);
  --fill-success-secondary: var(--bg-success-secondary);
  --fill-warning-primary: var(--bg-warning-primary);
  --fill-destructive-primary: var(--bg-destructive-primary);
  --fill-neutral-primary: var(--text-neutral-primary);
  --fill-neutral-emphasis: var(--bg-neutral-emphasis);
  --fill-neutral-secondary: var(--fill-neutral-secondary);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-neutral-primary, currentColor);
  }
}
=======
=======
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
>>>>>>> 0156483 (initial commit)

:root {
  /* TODO: split into channels so we can use the Tailwind opacity modifier. */
  /* e.g. --carbon-900: 52, 63, 69; */
  /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */

  --carbon-50: #f3f7f8;
  --carbon-100: #e1eaec;
  --carbon-200: #c7d7da;
  --carbon-300: #9fbac1;
  --carbon-400: #71969f;
  --carbon-500: #567b84;
  --carbon-600: #4a6670;
  --carbon-700: #40555e;
  --carbon-800: #3a4950;
  --carbon-900: #343f45;
  --carbon-default: #20292e;
  --stone-50: #f7f7f7;
  --stone-default: #e6e7e8;
  --stone-200: #dddee0;
  --stone-300: #c6c8ca;
  --stone-400: #aaadb0;
  --stone-500: #94999d;
  --stone-600: #84878c;
  --stone-700: #767a7f;
  --stone-800: #63666a;
  --stone-900: #525356;
  --stone-950: #343537;
  --blue-50: #f2f7fc;
  --blue-100: #e1eef8;
  --blue-200: #cbe0f2;
  --blue-300: #a7cde9;
  --blue-default: #76afdc;
  --blue-500: #5d97d4;
  --blue-600: #497fc7;
  --blue-700: #3f6bb6;
  --blue-800: #395894;
  --blue-900: #324c76;
  --blue-950: #222f49;
  --slate-50: #f2f7f9;
  --slate-100: #dee9ef;
  --slate-200: #c2d6df;
  --slate-300: #97b8c9;
  --slate-400: #6593ab;
  --slate-500: #4a7790;
  --slate-600: #40637a;
  --slate-default: #3c576b;
  --slate-800: #354755;
  --slate-900: #2f3c4a;
  --slate-950: #1c2630;
  --teal-50: #f1f9fa;
  --teal-100: #dceef1;
  --teal-200: #bddfe4;
  --teal-300: #90c7d0;
  --teal-400: #5ba6b5;
  --teal-default: #479bad;
  --teal-600: #377283;
  --teal-700: #325d6c;
  --teal-800: #304f5a;
  --teal-900: #2b434e;
  --teal-950: #192b33;
  --highlight-blue-50: #eaffff;
  --highlight-blue-100: #cbfdff;
  --highlight-blue-200: #9ef9ff;
  --highlight-blue-300: #5bf1ff;
  --highlight-blue-400: #00ddff;
  --highlight-blue-500: #00c2e5;
  --highlight-blue-600: #009ac0;
  --highlight-blue-700: #037a9b;
  --highlight-blue-800: #0d627d;
  --highlight-blue-900: #105169;
  --highlight-blue-950: #033549;
  --highlight-teal-50: #edfffc;
  --highlight-teal-100: #c0fff7;
  --highlight-teal-200: #81fff0;
  --highlight-teal-300: #3affe9;
  --highlight-teal-default: #00f6d2;
  --highlight-teal-500: #00e2c2;
  --highlight-teal-600: #00b7a1;
  --highlight-teal-700: #009181;
  --highlight-teal-800: #007268;
  --highlight-teal-900: #045d55;
  --highlight-teal-950: #003a38;
  --indigo-50: #f6f4fe;
  --indigo-100: #eeebfc;
  --indigo-200: #dfd9fb;
  --indigo-300: #c8baf8;
  --indigo-default: #b39cf3;
  --indigo-500: #9167eb;
  --indigo-600: #8147e0;
  --indigo-700: #7235cc;
  --indigo-800: #5f2cab;
  --indigo-900: #4f268c;
  --indigo-950: #31165f;
  --vista-50: #f0f5fd;
  --vista-100: #e4edfb;
  --vista-200: #ceddf7;
  --vista-300: #b0c6f1;
  --vista-400: #90a7e9;
  --vista-default: #6c82dd;
  --vista-600: #5a68d1;
  --vista-700: #4a54b8;
  --vista-800: #3f4994;
  --vista-900: #384077;
  --vista-950: #212545;
  --tail-50: #fcf4f4;
  --tail-100: #fae7e6;
  --tail-200: #f6d4d2;
  --tail-300: #efb5b2;
  --tail-default: #df7670;
  --tail-500: #d5645e;
  --tail-600: #c14841;
  --tail-700: #a13a34;
  --tail-800: #86332e;
  --tail-900: #70302c;
  --tail-950: #3c1513;
  --signal-50: #fcf7f0;
  --signal-100: #f9ebdb;
  --signal-200: #f2d5b6;
  --signal-default: #e6ac74;
  --signal-400: #e09257;
  --signal-500: #d97636;
  --signal-600: #ca5f2c;
  --signal-700: #a84926;
  --signal-800: #873c25;
  --signal-900: #6d3321;
  --signal-950: #3a1810;
  --beam-50: #fefbec;
  --beam-100: #fbf3ca;
  --beam-default: #f6e385;
  --beam-300: #f3d356;
  --beam-400: #efc030;
  --beam-500: #e8a218;
  --beam-600: #ce7c11;
  --beam-700: #ab5912;
  --beam-800: #8b4615;
  --beam-900: #723a15;
  --beam-950: #411d07;
  --base-black: #000000;
  --base-white: #ffffff;
  --base-transparent: #ffffff;
  --success-50: #effaf3;
  --success-100: #d9f2e0;
  --success-default: #b6e4c7;
  --success-300: #86cfa5;
  --success-400: #48a371;
  --success-500: #329763;
  --success-600: #22794e;
  --success-700: #1b6140;
  --success-800: #184d34;
  --success-900: #14402c;
  --success-950: #0a2419;

  /* Light mode semantic variables */
  --bg-black: 0 0 0;
  --app-1: var(--teal-default);
  --app-2: var(--tail-default);
  --app-3: var(--indigo-default);
  --app-4: var(--vista-default);
  --app-5: var(--signal-default);
  --bg-brand-primary-hover: var(--teal-700);
  --bg-brand-primary: var(--teal-600);
  --bg-brand-secondary-hover: var(--teal-300);
  --bg-brand-secondary: var(--teal-200);
  --bg-destructive-primary: var(--tail-600);
  --bg-destructive-soft-hover: var(--tail-100);
  --bg-destructive-soft: var(--tail-100);
  --bg-highlight-primary: var(--teal-600);
  --bg-neutral-emphasis: var(--carbon-300);
  --bg-neutral-hover: var(--carbon-200);
  --bg-neutral: var(--carbon-100);
  --bg-neutral-secondary: var(--carbon-default);
  --bg-success-primary: var(--success-600);
  --bg-success-secondary: var(--success-100);
  --bg-warning-primary: var(--signal-500);
  --bg-white-primary: var(--base-white);
  --bg-white-secondary: var(--carbon-50);
  --border-white-primary: var(--base-white);
  --border-destructive-primary: var(--tail-600);
  --border-highlight-primary: var(--teal-600);
  --border-neutral-empasis: var(--carbon-400);
  --border-neutral-primary-hover: var(--carbon-300);
  --border-neutral-primary: var(--carbon-200);
  --border-neutral-secondary: var(--carbon-default);
  --border-success-primary: var(--success-500);
  --border-warning-primary: var(--signal-500);
  --chart-primary-1: var(--teal-950);
  --chart-primary-2: var(--teal-900);
  --chart-primary-3: var(--teal-800);
  --chart-primary-4: var(--teal-700);
  --chart-primary-5: var(--teal-600);
  --chart-primary-6: var(--teal-default);
  --chart-primary-7: var(--teal-400);
  --chart-primary-8: var(--teal-300);
  --chart-primary-9: var(--teal-200);
  --chart-primary-10: var(--teal-100);
  --chart-primary-11: var(--teal-50);
  --text-destructive-primary: var(--tail-600);
  --text-highlight-primary: var(--teal-600);
  --text-link-hover: var(--teal-700);
  --text-link: var(--teal-600);
  --text-neutral-primary: var(--carbon-default);
  --text-neutral-secondary: var(--carbon-700);
  --text-on-brand-primary: var(--base-white);
  --text-on-brand-secondary: var(--carbon-default);
  --text-on-destructive-primary: var(--base-white);
  --text-on-highlight-primary: var(--base-white);
  --text-on-image: var(--base-white);
  --text-on-neutral-primary: var(--carbon-default);
  --text-on-success-primary: var(--base-white);
  --text-on-warning-primary: var(--carbon-default);
  --text-success-primary: var(--success-600);
  --text-warning-primary: var(--signal-700);
  --fill-neutral-secondary: var(--base-white);
}

.dark {
  --app-1: var(--teal-default);
  --app-2: var(--tail-500);
  --app-3: var(--indigo-500);
  --app-4: var(--vista-default);
  --app-5: var(--signal-500);
  --bg-brand-primary-hover: var(--teal-700);
  --bg-brand-primary: var(--teal-600);
  --bg-brand-secondary-hover: var(--teal-default);
  --bg-brand-secondary: var(--teal-700);
  --bg-destructive-primary: var(--tail-600);
  --bg-destructive-soft-hover: var(--tail-950);
  --bg-destructive-soft: var(--tail-950);
  --bg-highlight-primary: var(--teal-600);
  --bg-neutral-empahsis: var(--carbon-400);
  --bg-neutral-hover: var(--carbon-700);
  --bg-neutral: var(--carbon-600);
  --bg-neutral-secondary: var(--base-white);
  --bg-success-primary: var(--success-600);
  --bg-success-secondary: var(--success-700);
  --bg-warning-primary: var(--signal-500);
  --bg-white-primary: var(--carbon-default);
  --bg-white-secondary: var(--carbon-800);
  --border-white-primary: var(--carbon-default);
  --border-destructive-primary: var(--tail-default);
  --border-highlight-primary: var(--teal-600);
  --border-neutral-empasis: var(--carbon-300);
  --border-neutral-primary-hover: var(--carbon-400);
  --border-neutral-primary: var(--carbon-500);
  --border-neutral-secondary: var(--base-white);
  --border-success-primary: var(--success-400);
  --border-warning-primary: var(--signal-default);
  --chart-primary-1: var(--teal-50);
  --chart-primary-2: var(--teal-100);
  --chart-primary-3: var(--teal-200);
  --chart-primary-4: var(--teal-300);
  --chart-primary-5: var(--teal-400);
  --chart-primary-6: var(--teal-default);
  --chart-primary-7: var(--teal-600);
  --chart-primary-8: var(--teal-700);
  --chart-primary-9: var(--teal-800);
  --chart-primary-10: var(--teal-900);
  --chart-primary-11: var(--teal-950);
  --text-destructive-primary: var(--tail-default);
  --text-highlight-primary: var(--teal-default);
  --text-link-hover: var(--teal-200);
  --text-link: var(--teal-400);
  --text-neutral-primary: var(--base-white);
  --text-neutral-secondary: var(--carbon-200);
  --text-on-brand-primary: var(--base-white);
  --text-on-brand-secondary: var(--carbon-50);
  --text-on-destructive-primary: var(--base-white);
  --text-on-highlight-primary: var(--base-white);
  --text-on-image: var(--base-white);
  --text-on-neutral-primary: var(--carbon-100);
  --text-on-success-primary: var(--base-white);
  --text-on-warning-primary: var(--carbon-default);
  --text-success-primary: var(--success-300);
  --text-warning-primary: var(--signal-default);
  --fill-neutral-secondary: var(--carbon-default);
}

@theme inline {
  --font-*: initial;

  --color-*: initial;

  --background-color-transparent: transparent;
  --background-color-brand-primary-hover: var(--bg-brand-primary-hover);
  --background-color-brand-primary: var(--bg-brand-primary);
  --background-color-brand-secondary: var(--bg-brand-secondary);
  --background-color-destructive-primary: var(--bg-destructive-primary);
  --background-color-destructive-soft-hover: var(--bg-destructive-soft-hover);
  --background-color-highlight-primary: var(--bg-highlight-primary);
  --background-color-neutral-hover: var(--bg-neutral-hover);
  --background-color-neutral-primary: var(--border-neutral-primary);
  --background-color-neutral-secondary: var(--bg-neutral-secondary);
  --background-color-neutral-emphasis: var(--bg-neutral-emphasis);
  --background-color-success-primary: var(--bg-success-primary);
  --background-color-success-secondary: var(--bg-success-secondary);
  --background-color-warning-primary: var(--bg-warning-primary);
  --background-color-white-primary: var(--bg-white-primary);
  --background-color-white-secondary: var(--bg-white-secondary);
  --background-color-neutral: var(--bg-neutral);
  --background-color-black: rgb(var(--bg-black));
  --background-color-app-1: var(--app-1);
  --background-color-app-2: var(--app-2);
  --background-color-app-3: var(--app-3);
  --background-color-app-4: var(--app-4);
  --background-color-app-5: var(--app-5);
  --background-color-chart-primary-1: var(--chart-primary-1);
  --background-color-chart-primary-2: var(--chart-primary-2);
  --background-color-chart-primary-3: var(--chart-primary-3);
  --background-color-chart-primary-4: var(--chart-primary-4);
  --background-color-chart-primary-5: var(--chart-primary-5);
  --background-color-chart-primary-6: var(--chart-primary-6);
  --background-color-chart-primary-7: var(--chart-primary-7);
  --background-color-chart-primary-8: var(--chart-primary-8);
  --background-color-chart-primary-9: var(--chart-primary-9);
  --background-color-chart-primary-10: var(--chart-primary-10);
  --background-color-chart-primary-11: var(--chart-primary-11);

  --border-color-transparent: transparent;
  --border-color-destructive-primary: var(--border-destructive-primary);
  --border-color-highlight-primary: var(--border-highlight-primary);
  --border-color-white-primary: var(--border-white-primary);
  --border-color-neutral-primary: var(--border-neutral-primary);
  --border-color-neutral-secondary: var(--border-neutral-secondary);
  --border-color-success-primary: var(--border-success-primary);
  --border-color-warning-primary: var(--border-warning-primary);
  --border-color-on-image: var(--text-on-image);

  --text-color-destructive-primary: var(--text-destructive-primary);
  --text-color-highlight-primary: var(--text-highlight-primary);
  --text-color-neutral-primary: var(--text-neutral-primary);
  --text-color-neutral-secondary: var(--text-neutral-secondary);
  --text-color-on-brand-primary: var(--text-on-brand-primary);
  --text-color-on-brand-secondary: var(--text-on-brand-secondary);
  --text-color-on-destructive-primary: var(--text-on-destructive-primary);
  --text-color-on-highlight-primary: var(--text-on-highlight-primary);
  --text-color-on-image: var(--text-on-image);
  --text-color-on-neutral-primary: var(--text-on-neutral-primary);
  --text-color-on-success-primary: var(--text-on-success-primary);
  --text-color-on-warning-primary: var(--text-on-warning-primary);
  --text-color-success-primary: var(--text-success-primary);
  --text-color-warning-primary: var(--text-warning-primary);
  --text-color-link: var(--text-link);
  --text-color-link-hover: var(--text-link-hover);
  --text-color-brand-primary: var(--bg-brand-primary);

  --ring-color-brand-primary: var(--bg-brand-primary);
  --ring-color-destructive-primary: var(--bg-destructive-primary);

  --ring-offset-color-white-primary: var(--bg-white-primary);
  --ring-offset-color-highlight-primary: var(--bg-highlight-primary);
  --ring-offset-color-destructive-primary: var(--bg-destructive-primary);
  --ring-offset-color-warning-primary: var(--bg-warning-primary);
  --ring-offset-color-success-primary: var(--bg-success-primary);
  --ring-offset-color-success-secondary: var(--bg-success-secondary);

  --stroke-border: var(--border-neutral-primary);
  --stroke-transparent: transparent;

  --fill-muted: var(--bg-neutral);
  --fill-muted-foreground: var(--text-neutral-secondary);
  --fill-card: var(--bg-white-primary);
  --fill-success-primary: var(--bg-success-primary);
  --fill-success-secondary: var(--bg-success-secondary);
  --fill-warning-primary: var(--bg-warning-primary);
  --fill-destructive-primary: var(--bg-destructive-primary);
  --fill-neutral-primary: var(--text-neutral-primary);
  --fill-neutral-emphasis: var(--bg-neutral-emphasis);
  --fill-neutral-secondary: var(--fill-neutral-secondary);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-neutral-primary, currentColor);
  }
}
<<<<<<< HEAD

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
>>>>>>> 32d98d4 (Initial commit from Create Next App)
=======
>>>>>>> 0156483 (initial commit)
